<!-- Stolen from queerjs.com cos it looked awesome -->
<div class="qjs-rainbow">
  <div style="background:#FF5D7D"></div>
  <div style="background:#FF764E"></div>
  <div style="background:#FFC144"></div>
  <div style="background:#88DF8E"></div>
  <div style="background:#00CCF2"></div>
  <div style="background:#B278D3"></div>
</div>